.accountBlock {
    width: 250px;
    height: 280px;
    background-color: white;
    visibility: hidden;
    margin: 20px 0 0 -80px;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    .accountBlockInfo {
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px 0 10px 15px;

      .accountBlockTitle {
        width: 100%;
      }

      hr {
        width: 200px;
        position: absolute;
        left: 15px;
        margin-top: 20px;
        background-color: #a0a0a0;
        border: .5px solid  #a0a0a0;
      }

      .buttons {
        display: flex;
      }
    }

    .accountOptions {
      position: absolute;
      top: 130px;
      left: 15px;
      display: flex;
      flex-direction: column;
  
      .accountOption {
        margin-top: 10px;
      }
    }
  }
