.shop{
    margin: 70px 0 0 80px;
    display: flex;

    .sidebar {
        width: 25%;
        margin-top: 25px;

        .form-input-section {
            margin-left: 0px;
        }
        
        .title-section {
            align-items: flex-start;

            .title{
                font-size: 180%;
                width: 60%;
            }
    
            .divider {
                width: 30px;
                margin: -25px 0 15px;
            }
        }

        .search-form {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-left: 0;
            width: 100%;

            .section {
                margin: 0;
            }

            .form-input {
                width: 100%;
                height: 40px;
            }

            .custom-button {
                width: 20%;
            }
        }

        .filter-price {

            .filter-section {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
            }

            .form-input {
                width: 100%;
                margin: 0px;
            }
        }

        .category-section {
            .category {
                width: 95%;
                height: 40px;
                background: none;
                font-size: 110%;
                color: rgba(0,0,0,.6);
                padding-left: 10px;
            }

            .category-selector {
                background: none;
                background-color: white;
                color: rgba(0,0,0,.6);
                font-size: 18px;
                width: 97%;
                height: 45px;
                padding: 10px;
                border: 1px solid rgba(0,0,0,.6);
                border-radius: 0;
                margin: 5px 0;
                outline: none;
            }
        }
    }

    .products-section {
        width: 75%;
        margin-left: 20px;
    }

}