.shop-options {
    height: 320px;
    width: 950px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    visibility: hidden;
    margin: 20px 0 0 -435px;
    position: absolute;
    z-index: 1;
    display: flex;
    font-size: 18px;
    background-color: white;

    .section, .inverted-section{
        background-color: white;
        width: 250px;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
    }

    .inverted-section {
        background-color: rgba(245,245,246,.6);
    }


    .title {
        margin-bottom: -15px;
        color: #7a9c59;
        padding: 10px;

        &:hover {
            background-color: #7a9c59;
            width: 80%;
            color: white;
        }
    }
    
    .categories {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }

    .category {
        padding: 10px 10px 10px 20px;

        &:hover {
            background-color: #7a9c59;
            width: 80%;
            color: white;
        }
    }

    hr {
        background-color: #a0a0a0;
        width: 15%;
        height: 3px;
        border: 1px solid  #a0a0a0;
        position: relative;
        right: 70px;
        margin-top: -5px;
    }

    
}