.newsletter {
    position: relative;
    height: 400px;
    overflow: hidden;
    letter-spacing: 2px;
    display: flex;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .image-section{
        width: 50%;

        .background-image {
            width: 100%;
            position: relative;
        }
    }

    .newsletter-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: cover;
        color: black;
        width: 50%;
        z-index: 1;
        position: relative;
        bottom: 30px;

        .description {
            width: 80%;
            position: relative;
            text-align: center;
            color: rgba(0,0,0,.6);
        }

        .form {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 80%;

            button {
                width: 15%;
                position: relative;
                bottom: 5px;
            }
        }
    }

}