.navbar {
  height: 70px;
  width: 100%;
  padding: 0px 120px 0px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  font-size: 18px;
  background-color: white;
  z-index: 100;

  .logo-container {
    width: 30%;
  }

  .options {
    width: 68%;
    height: 70px;
    display: flex;
    justify-content: flex-end;

    .option {
      padding: 26px 15px;
    }
  }

  .myAccount:hover .accountBlock {
    visibility: visible;
  }

  .shopBlock:hover .shop-options {
    visibility: visible;
  }

  .cart {
    margin-left: 15px;
  }

  .cart:hover .cart-dropdown {
    visibility: visible;
  }

  .selected {
    color: #7a9c59;
  }
}